.container {
  background: tomato;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.calculator {
  padding: 20px;
  border-radius: 20px;
  background: darkgray;
}

form input {
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 1rem;
  background: gold;
  margin: 2px;
  border-radius: 10px;
}

form input[type="button"]:hover {
  background: darkgoldenrod;
}

form .display {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0px 15px 0px;
}

form .display input {
  text-align: right;
  flex: 1;
  padding: 5px 15px;
  font-size: 2rem;
  background: white;
}

form .equal{
  width: 125px;
}